@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&family=Roboto:wght@400;700&display=swap");

:root {
  --color-white: #ffffff;
  --color-blue: rgb(49, 123, 207);
  --color-layout: #e2e1e0;
  --color-line: rgb(209, 209, 209);
  --color-text: #3d3d3d;
  --color-blurred-text: rgb(153, 153, 153);
  --color-facebook: rgb(134, 201, 255);
  --color-naver: rgb(94, 223, 89);
  --color-kakao: rgb(219, 233, 92);
}

html {
  width: 100%;
  height: 100%;
  font-size: 62.5%;
  line-height: 1.3;
  -webkit-text-size-adjust: 100%;
}

body {
  overflow-x: hidden;
  max-width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  background: var(--color-white);
  box-sizing: border-box;
  font-family: "Roboto", "Noto Sans KR", arial, sans-serif;
  color: var(--color-text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  margin: 0;
  font-size: 2.1rem;
  font-weight: 400;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  list-style-type: none;
}

button {
  font-family: "Roboto", "Noto Sans KR", arial, sans-serif;
  border: 0;
}

p {
  margin: 0;
}

#login-layout {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-layout);
}

.login-card {
  width: 54rem;
  height: 62rem;
  background-color: var(--color-white);
  border-radius: 0.8rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.login-card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.login-header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6rem;
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
  border-bottom: 2px solid var(--color-line);
}

.header-title {
  font-size: 1.8rem;
  font-weight: bold;
}

.header-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 2rem;
  cursor: pointer;
}

.login-main {
  padding: 3rem;
}

.main-section-top {
  position: relative;
  display: grid;
  row-gap: 2rem;
  padding-bottom: 3.5rem;
  border-bottom: 2px solid var(--color-line);
  margin-bottom: 2.5rem;
}

.keep-login-container {
  display: flex;
  align-items: center;
  margin-right: auto;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 1.7rem;
  color: var(--color-blurred-text);
}

.color-change {
  color: var(--color-text);
}

.login-button {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
  padding: 1.78rem;
  border-radius: 0.7rem;
  color: var(--color-white);
  background-color: rgb(65, 144, 235);
  transition: all 0.3s;
  cursor: pointer;
}

.login-button:hover {
  background-color: var(--color-blue);
}

.link-container {
  text-align: center;
}

.link-container a {
  color: var(--color-blurred-text);
}

.link-container a:hover {
  color: var(--color-blue);
}

.link-container span {
  color: var(--color-blurred-text);
}

.or {
  position: absolute;
  bottom: 0;
  left: 50%;
  padding: 1rem;
  color: var(--color-blurred-text);
  background-color: white;
  transform: translate(-50%, 50%);
}

.main-section-bot {
  display: grid;
  row-gap: 1rem;
}

.social-login {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.75rem 2rem;
  height: 3.5rem;
  color: var(--color-blurred-text);
  font-size: 1.75rem;
  border: 2px solid var(--color-line);
  border-radius: 0.6rem;
  transition: all 0.3s;
}

.social-login:hover {
  color: #3d3d3d;
  font-size: 1.9rem;
}

.facebook-border {
  border-color: var(--color-facebook);
}

.naver-border {
  border-color: var(--color-naver);
}

.kakao-border {
  border-color: var(--color-kakao);
}

.social-icon {
  position: absolute;
  left: 0;
  padding-left: 1.5rem;
}
